html {
  background: #f1f1f1;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playfair-regular {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.playfair-display-regular {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.playfair-display-thin {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 500px;
}

.title {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.title h3 {
    color: #555555;
    font-weight: 100;
}

.entry {
    display: flex;
    flex-direction: column;
}
