<!--  Project HTML   -->
<div class="project-item">
    <a href="https://example.com"><img src="img/no-image.jpg" class="project-img" alt="citrus community server" height="128px" width="128px"></a>
    <p class="project-title">Project Name</p>
    <p class="grey project-desc">This is the project description. It can have as many lines as it needs, it think. More than two might be bad for the pre-existing lines.</p>
    <a href="https://example.com" class="project-btn"><button class="btn p-btn" role="button">Link to Project <i class="fa-solid fa-square-arrow-up-right"></i></button></a>
</div>